html,body {
    height: 100%;

}
.initial {background-image: url(images/bleeding2.jpg);
background-size: contain;
background-color: rgba(253, 253, 253, 0.164)}

.mboard {
    position: relative;
}
.buttonG {
    

}

.main-title {
    color: rgb(36, 6, 6);
    z-index: 9999;
    font-size: 6rem; 
    font-family: 'Creepster', cursive;
    letter-spacing: 1rem
}